* {
  margin: 0;
  padding: 0;
  border-inline: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f1f1f1;
}

.container {
  width: 80%;
  margin-inline: auto;
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }
}

/* Navbar */
.navbar {
  padding: 20px 0 20px 0;
}

.navbar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-box .menu {
  display: flex;
  gap: 40px;
}

.navbar-box .menu li {
  list-style-type: none;
}
.navbar-box .menu li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.navbar-box .menu li a:hover {
  border-bottom: 3px solid #481a1b;
}

.navbar-box .ri-menu-3-line {
  display: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar-box .ri-menu-3-line {
    display: block;
  }

  .navbar-box .menu {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    text-align: center;
    background-color: #481a1b;
    width: 100%;
    padding: 40px 0 40px 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }

  .navbar-box .menu.menu-active {
    top: 100px;
    opacity: 1;
  }

  .navbar-box .menu li a {
    color: white;
    font-size: 20px;
    text-decoration: underline;
  }
}
/* Navbar */

/* Hero */
.hero {
  padding-top: 60px;
}

.hero-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.hero-box .box .harga {
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #481a1b;
  font-weight: bold;
}

.hero-box p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 30px;
}

.hero-box .details {
  font-size: 24px;
  font-weight: bold;
}

.hero-box a {
  text-decoration: none;
  background-color: #481a1b;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.hero-box img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .hero-box {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 70px;
  }
}
/* Hero */

/* Produk */
.produk {
  padding-bottom: 80px;
}

.produk h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.produk-box .produk-list .produk-info p {
  font-size: 13px;
  color: #666;
  margin-bottom: 12px;
  line-height: 1.4;
  /* Jika teks terlalu panjang, batasi barisnya agar rapi */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Produk */

/* Kontak */
.hero-maps {
  padding-top: 0px;
}

.hero-maps-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.hero-maps-box h3 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #481a1b;
}

.hero-maps-box p {
  line-height: 2;
}

@media (max-width: 768px) {
  .hero-maps-box {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 70px;
  }

  .hero-maps-box .box iframe {
    width: 100%;
    height: 100%;
  }
}
